<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../../public/styles/global.css" />
  </head>
  <body>
    <nav class="menu">
      <a href="/">
        <img
          class="logo"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsElKyQ51nDV5SgLKGemqtMBVlOEjiZquW0w&s"
        />
      </a>
      <ul>
        <a href="/contato">CONTATO</a>
        <a href="/sobre">SOBRE </a>
        <a class="btn-logar" href="/login">LOGAR</a>
      </ul>
    </nav>
    <p>
      Electric vehicles (EVs) are the key technology to decarbonize road
      transport, a sector that accounts for over 15 percent of global
      energy-related emissions, according to the International Energy Agency
      (IEA). Driven by consumer demand and new regulations aiming to limit
      emissions from internal combustion engine (ICE) vehicles, the auto
      industry is gearing up for a seismic shift. Sandvik's role in the
      automotive sector The automotive industry and its subcontractors are an
      important customer segment for Sandvik, according to Eduardo Debone, Head
      of Product Area Emerging Offer at Sandvik Coromant. “The automotive
      industry is a big technology driver and a beacon of innovation even to
      other industries in pushing new and cost-effective technologies for mass
      production.
    </p>
  </body>
</html>
